<a href="https://colab.research.google.com/github/janhvi2806/Book-API--ShapeAI/blob/main/Diabetes_Prediction_DL_ANN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Diabetes Prediction Model**

------------

In [ ]:
import numpy as np 
import pandas as pd 
from scipy import stats 
import seaborn as sns

from sklearn.model_selection import train_test_split
import tensorflow as tf
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense, Dropout

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
data= pd.read_csv('/content/gdrive/MyDrive/UIA Hackathon/diabetes.csv')
data.head()

   Glucose  BloodPressure  Insulin   BMI  Age  Outcome
0      148             72        0  33.6   50        1
1       85             66        0  26.6   31        0
2      183             64        0  23.3   32        1
3       89             66       94  28.1   21        0
4      137             40      168  43.1   33        1

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Glucose        768 non-null    int64
 1   BloodPressure  768 non-null    int64
 2   Insulin        768 non-null    int64
 3   BMI            768 non-null    float64
 4   Age            768 non-null    int64
 5   Outcome        768 non-null    int64
dtypes: float64(1), int64(5)
memory usage: 36.1 KB

In [ ]:
data.dtypes

Glucose            int64
BloodPressure      int64
Insulin            int64
BMI              float64
Age                int64
Outcome            int64
dtype: object

This data does not contain any null values. So we don't need to worry about filling/dropping values.

In [ ]:
data.isnull().sum()

Glucose          0
BloodPressure    0
Insulin          0
BMI              0
Age              0
Outcome          0
dtype: int64

In [ ]:
data.duplicated()
data=data.drop_duplicates()
data.head()

   Glucose  BloodPressure  Insulin   BMI  Age  Outcome
0      148             72        0  33.6   50        1
1       85             66        0  26.6   31        0
2      183             64        0  23.3   32        1
3       89             66       94  28.1   21        0
4      137             40      168  43.1   33        1

The data doesn't contain any duplicate values also. Hence we need not worry about them.

In [ ]:
data.describe()

,Glucose,BloodPressure,Insulin,BMI,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,120.894531,69.105469,79.799479,31.992578,33.240885,0.348958
std,31.972618,19.355807,115.244002,7.884160,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,21.000000,0.000000
25%,99.000000,62.000000,0.000000,27.300000,24.000000,0.000000
50%,117.000000,72.000000,30.500000,32.000000,29.000000,0.000000
75%,140.250000,80.000000,127.250000,36.600000,41.000000,1.000000
max,199.000000,122.000000,846.000000,67.100000,81.000000,1.000000

All bioparameters are in the range. Hence the data does not have observational/structural errors in them. Hence we need to worry about them.

In [ ]:
for x in data.columns:
    z=np.abs(stats.zscore(data[x]))
    print(x+str(z))

Glucose0      0.848324
1      1.123396
2      1.943724
3      0.998208
4      0.504055
         ...
763    0.622642
764    0.034598
765    0.003301
766    0.159787
767    0.873019
Name: Glucose, Length: 768, dtype: float64
BloodPressure0      0.149641
1      0.160546
2      0.263941
3      0.160546
4      1.504687
         ...
763    0.356432
764    0.046245
765    0.149641
766    0.470732
767    0.046245
Name: BloodPressure, Length: 768, dtype: float64
Insulin0      0.692891
1      0.692891
2      0.692891
3      0.123302
4      0.765836
         ...
763    0.870031
764    0.692891
765    0.279594
766    0.692891
767    0.692891
Name: Insulin, Length: 768, dtype: float64
BMI0      0.204013
1      0.684422
2      1.103255
3      0.494043
4      1.409746
         ...
763    0.115169
764    0.610154
765    0.735190
766    0.240205
767    0.202129
Name: BMI, Length: 768, dtype: float64
Age0      1.425995
1      0.190672
2      0.105584
3      1.041549
4      0.020496
         ...
763    2.532136
764    0.531023
765    0.275760
766    1.170732
767    0.871374
Name: Age, Length: 768, dtype: float64
Outcome0      1.365896
1      0.732120
2      1.365896
3      0.732120
4      1.365896
         ...
763    0.732120
764    0.732120
765    0.732120
766    1.365896
767    0.732120
Name: Outcome, Length: 768, dtype: float64

According to the z-score statistical parameter, the above datapoints are considered as outliers. But I dont think these are outliers and I consider that these data are essential for identfying diabetes condition.

The next step is feature scaling. I am doing a comparison of ML and DL for this dataset. For ML, i am considering SVM, which is a distance based algorithm. Hence normalization of data would be appropriate. On the other hand, for DL I am considering ANN, which is gradient descent based algorithm for which standardisation of data would be appropriate, since it can help in faster identification of local minima.

In [ ]:
data_norm=data.copy()
for column in data.columns:
    data_norm[column] = (data_norm[column] - data_norm[column].min()) / (data_norm[column].max() - data_norm[column].min()) 
data_norm.head()

    Glucose  BloodPressure   Insulin       BMI       Age  Outcome
0  0.743719       0.590164  0.000000  0.500745  0.483333      1.0
1  0.427136       0.540984  0.000000  0.396423  0.166667      0.0
2  0.919598       0.524590  0.000000  0.347243  0.183333      1.0
3  0.447236       0.540984  0.111111  0.418778  0.000000      0.0
4  0.688442       0.327869  0.198582  0.642325  0.200000      1.0

In [ ]:
lis = ['Glucose','BloodPressure','Insulin','BMI','Age']
def standartization(x):
    x_std = x.copy(deep=True)
    for column in lis:
        x_std[column] = (x_std[column] - x_std[column].mean()) / x_std[column].std() 
    return x_std

data = standartization(data)
data.head()

    Glucose  BloodPressure   Insulin       BMI       Age  Outcome
0  0.847771       0.149543 -0.692439  0.203880  1.425067        1
1 -1.122665      -0.160441 -0.692439 -0.683976 -0.190548        0
2  1.942458      -0.263769 -0.692439 -1.102537 -0.105515        1
3 -0.997558      -0.160441  0.123221 -0.493721 -1.040871        0
4  0.503727      -1.503707  0.765337  1.408828 -0.020483        1

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 768 entries, 0 to 767
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Glucose        768 non-null    float64
 1   BloodPressure  768 non-null    float64
 2   Insulin        768 non-null    float64
 3   BMI            768 non-null    float64
 4   Age            768 non-null    float64
 5   Outcome        768 non-null    int64
dtypes: float64(5), int64(1)
memory usage: 42.0 KB

In [ ]:
data['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [ ]:
y=data['Outcome']
x=data.drop(['Outcome'],axis=1)

In [ ]:
yn=data_norm['Outcome']
xn=data_norm.drop(['Outcome'],axis=1)

I am creating separate train and test sets for standardised and normalised data. the ones having n as suffix are normalised.

In [ ]:
xtrain,xtest,ytrain,ytest= train_test_split(x,y,test_size=0.15,stratify=y)
print("Xtrain :- " + str(xtrain.shape) + "\n" + "Xtest :- " + str(xtest.shape) + "\n" + "Ytrain :- " + str(ytrain.shape) + "\n" + "Ytest :- " + str(ytest.shape))

Xtrain :- (652, 5)
Xtest :- (116, 5)
Ytrain :- (652,)
Ytest :- (116,)

In [ ]:
xntrain,xntest,yntrain,yntest= train_test_split(xn,yn,test_size=0.15,stratify=y)
print("Xntrain :- " + str(xntrain.shape) + "\n" + "Xntest :- " + str(xntest.shape) + "\n" + "Yntrain :- " + str(yntrain.shape) + "\n" + "Yntest :- " + str(yntest.shape))

Xntrain :- (652, 5)
Xntest :- (116, 5)
Yntrain :- (652,)
Yntest :- (116,)

In [ ]:
model = Sequential()
model.add(Dense(256,activation='relu',input_shape=([5])))
model.add(Dense(256,activation='relu'))
model.add(Dense(1,activation='sigmoid'))
model.summary()
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 256)               1536

 dense_7 (Dense)             (None, 256)               65792

 dense_8 (Dense)             (None, 1)                 257

=================================================================
Total params: 67,585
Trainable params: 67,585
Non-trainable params: 0
_________________________________________________________________

In [ ]:
ytest

553    0
748    1
179    1
275    0
291    1
      ..
267    0
543    0
488    0
53     1
728    0
Name: Outcome, Length: 116, dtype: int64

In [ ]:
nepochs = 50
history = model.fit(xtrain ,
                    ytrain ,
                    epochs= nepochs ,
                    steps_per_epoch=200,
                    validation_data=(xtest ,ytest))

Epoch 1/50
200/200 [==============================] - 2s 5ms/step - loss: 0.5221 - accuracy: 0.7425 - val_loss: 0.4799 - val_accuracy: 0.7414
Epoch 2/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4544 - accuracy: 0.7812 - val_loss: 0.4557 - val_accuracy: 0.7672
Epoch 3/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4737 - accuracy: 0.7700 - val_loss: 0.4750 - val_accuracy: 0.7414
Epoch 4/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4723 - accuracy: 0.7862 - val_loss: 0.4609 - val_accuracy: 0.7586
Epoch 5/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4584 - accuracy: 0.7962 - val_loss: 0.4658 - val_accuracy: 0.7586
Epoch 6/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4695 - accuracy: 0.7738 - val_loss: 0.4828 - val_accuracy: 0.7500
Epoch 7/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4488 - accuracy: 0.7950 - val_loss: 0.4794 - val_accuracy: 0.7328
Epoch 8/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4267 - accuracy: 0.8062 - val_loss: 0.5239 - val_accuracy: 0.7500
Epoch 9/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4683 - accuracy: 0.7800 - val_loss: 0.4773 - val_accuracy: 0.7759
Epoch 10/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4386 - accuracy: 0.7950 - val_loss: 0.4704 - val_accuracy: 0.7759
Epoch 11/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4338 - accuracy: 0.8150 - val_loss: 0.4835 - val_accuracy: 0.7845
Epoch 12/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4230 - accuracy: 0.7925 - val_loss: 0.4996 - val_accuracy: 0.7586
Epoch 13/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4174 - accuracy: 0.8050 - val_loss: 0.4941 - val_accuracy: 0.7500
Epoch 14/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4155 - accuracy: 0.8138 - val_loss: 0.5093 - val_accuracy: 0.7759
Epoch 15/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4158 - accuracy: 0.8112 - val_loss: 0.5015 - val_accuracy: 0.7586
Epoch 16/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4184 - accuracy: 0.8075 - val_loss: 0.5147 - val_accuracy: 0.7759
Epoch 17/50
200/200 [==============================] - 1s 3ms/step - loss: 0.4078 - accuracy: 0.8125 - val_loss: 0.5268 - val_accuracy: 0.7586
Epoch 18/50
200/200 [==============================] - 1s 3ms/step - loss: 0.3883 - accuracy: 0.8213 - val_loss: 0.5371 - val_accuracy: 0.7500
Epoch 19/50
200/200 [==============================] - 1s 3ms/step - loss: 0.3950 - accuracy: 0.8288 - val_loss: 0.5295 - val_accuracy: 0.7500
Epoch 20/50
200/200 [==============================] - 1s 3ms/step - loss: 0.3804 - accuracy: 0.8200 - val_loss: 0.5736 - val_accuracy: 0.7241
Epoch 21/50
200/200 [==============================] - 1s 3ms/step - loss: 0.3628 - accuracy: 0.8400 - val_loss: 0.5632 - val_accuracy: 0.7414
Epoch 22/50
200/200 [==============================] - 1s 3ms/step - loss: 0.3798 - accuracy: 0.8250 - val_loss: 0.5170 - val_accuracy: 0.7500
Epoch 23/50
200/200 [==============================] - 1s 3ms/step - loss: 0.3604 - accuracy: 0.8462 - val_loss: 0.5398 - val_accuracy: 0.7586
Epoch 24/50
200/200 [==============================] - 1s 3ms/step - loss: 0.3527 - accuracy: 0.8550 - val_loss: 0.5792 - val_accuracy: 0.7500
Epoch 25/50
200/200 [==============================] - 1s 3ms/step - loss: 0.3738 - accuracy: 0.8150 - val_loss: 0.6106 - val_accuracy: 0.7500
Epoch 26/50
200/200 [==============================] - 1s 3ms/step - loss: 0.3470 - accuracy: 0.8462 - val_loss: 0.5910 - val_accuracy: 0.7414
Epoch 27/50
200/200 [==============================] - 1s 3ms/step - loss: 0.3376 - accuracy: 0.8487 - val_loss: 0.6260 - val_accuracy: 0.7069
Epoch 28/50
200/200 [==============================] - 1s 3ms/step - loss: 0.3439 - accuracy: 0.8475 - val_loss: 0.6519 - val_accuracy: 0.7328
Epoch 29/50
200/200 [==============================] - 1s 3ms/step - loss: 0.3277 - accuracy: 0.8438 - val_loss: 0.6672 - val_accuracy: 0.7241
Epoch 30/50
200/200 [==============================] - 1s 3ms/step - loss: 0.3126 - accuracy: 0.8637 - val_loss: 0.6459 - val_accuracy: 0.7328
Epoch 31/50
200/200 [==============================] - 1s 3ms/step - loss: 0.3295 - accuracy: 0.8450 - val_loss: 0.6614 - val_accuracy: 0.7328
Epoch 32/50
200/200 [==============================] - 1s 3ms/step - loss: 0.3129 - accuracy: 0.8487 - val_loss: 0.6529 - val_accuracy: 0.7241
Epoch 33/50
200/200 [==============================] - 1s 3ms/step - loss: 0.3119 - accuracy: 0.8587 - val_loss: 0.6706 - val_accuracy: 0.7328
Epoch 34/50
200/200 [==============================] - 1s 3ms/step - loss: 0.2923 - accuracy: 0.8737 - val_loss: 0.6826 - val_accuracy: 0.7328
Epoch 35/50
200/200 [==============================] - 1s 3ms/step - loss: 0.3037 - accuracy: 0.8550 - val_loss: 0.7574 - val_accuracy: 0.7069
Epoch 36/50
200/200 [==============================] - 1s 3ms/step - loss: 0.2755 - accuracy: 0.8850 - val_loss: 0.7300 - val_accuracy: 0.6983
Epoch 37/50
200/200 [==============================] - 1s 3ms/step - loss: 0.2818 - accuracy: 0.8838 - val_loss: 0.7910 - val_accuracy: 0.7155
Epoch 38/50
200/200 [==============================] - 1s 3ms/step - loss: 0.2754 - accuracy: 0.8913 - val_loss: 0.7598 - val_accuracy: 0.7328
Epoch 39/50
200/200 [==============================] - 1s 3ms/step - loss: 0.2650 - accuracy: 0.8825 - val_loss: 0.7897 - val_accuracy: 0.7241
Epoch 40/50
200/200 [==============================] - 1s 3ms/step - loss: 0.2782 - accuracy: 0.8800 - val_loss: 0.7763 - val_accuracy: 0.7155
Epoch 41/50
140/200 [====================>.........] - ETA: 0s - loss: 0.2636 - accuracy: 0.8964

WARNING:tensorflow:Your input ran out of data; interrupting training. Make sure that your dataset or generator can generate at least `steps_per_epoch * epochs` batches (in this case, 10000 batches). You may need to use the repeat() function when building your dataset.

200/200 [==============================] - 0s 2ms/step - loss: 0.2628 - accuracy: 0.8950 - val_loss: 0.8594 - val_accuracy: 0.6810

In [ ]:
model.evaluate(xtrain,ytrain)

21/21 [==============================] - 0s 2ms/step - loss: 0.2231 - accuracy: 0.9202

[0.22312723100185394, 0.9202454090118408]

In [ ]:
model.evaluate(xtest,ytest)

4/4 [==============================] - 0s 4ms/step - loss: 0.8594 - accuracy: 0.6810

[0.8594118356704712, 0.681034505367279]

As you can see, the ANN produced 68% test accuracy which is way less than SVM. Hence we can say that the ML algorithm produced well than that of DL algorithm. Can we stop with this conclusion or are we missing something??

In [ ]:
print(data['Outcome'].value_counts())
df_class_0 = data[data['Outcome'] == 0]
df_class_1 = data[data['Outcome'] == 1]

0    500
1    268
Name: Outcome, dtype: int64

As you can see, there is class imbalance, the amount of diabetes negative is twice than that of diabetes positive. In this scenario, we cant compare the performance of algorithms based on accuracy. So to overcome the class imbalance I oversampled the minority class to the samples of majority class (500). So the total data consits of 1000 samples with equal distribution. I repeated this process for the standardised and normalized datasets.

There isn't much change in the accuracy of the algorithm but there is huge improvement in the classification report before and after sampling, especially for the diabetes class.

In [ ]:
nepochs = 50
history = model.fit(xntrain ,
                    yntrain ,
                    epochs= nepochs ,
                    steps_per_epoch=200,
                    validation_data=(xntest ,yntest))

Epoch 1/50
200/200 [==============================] - 1s 3ms/step - loss: 0.3037 - accuracy: 0.8537 - val_loss: 0.6812 - val_accuracy: 0.7414
Epoch 2/50
200/200 [==============================] - 1s 3ms/step - loss: 0.3069 - accuracy: 0.8612 - val_loss: 0.6141 - val_accuracy: 0.7759
Epoch 3/50
200/200 [==============================] - 1s 3ms/step - loss: 0.2851 - accuracy: 0.8600 - val_loss: 0.6226 - val_accuracy: 0.7672
Epoch 4/50
200/200 [==============================] - 1s 3ms/step - loss: 0.2973 - accuracy: 0.8625 - val_loss: 0.6563 - val_accuracy: 0.7672
Epoch 5/50
200/200 [==============================] - 1s 3ms/step - loss: 0.3093 - accuracy: 0.8550 - val_loss: 0.6360 - val_accuracy: 0.7845
Epoch 6/50
200/200 [==============================] - 1s 3ms/step - loss: 0.2850 - accuracy: 0.8600 - val_loss: 0.6423 - val_accuracy: 0.7586
Epoch 7/50
200/200 [==============================] - 1s 3ms/step - loss: 0.2837 - accuracy: 0.8650 - val_loss: 0.7115 - val_accuracy: 0.7759
Epoch 8/50
200/200 [==============================] - 1s 3ms/step - loss: 0.3124 - accuracy: 0.8625 - val_loss: 0.6260 - val_accuracy: 0.7759
Epoch 9/50
200/200 [==============================] - 1s 4ms/step - loss: 0.2848 - accuracy: 0.8600 - val_loss: 0.6260 - val_accuracy: 0.8017
Epoch 10/50
200/200 [==============================] - 1s 4ms/step - loss: 0.2845 - accuracy: 0.8700 - val_loss: 0.6339 - val_accuracy: 0.7759
Epoch 11/50
200/200 [==============================] - 1s 4ms/step - loss: 0.2919 - accuracy: 0.8650 - val_loss: 0.6547 - val_accuracy: 0.7931
Epoch 12/50
200/200 [==============================] - 1s 4ms/step - loss: 0.2678 - accuracy: 0.8737 - val_loss: 0.5983 - val_accuracy: 0.7845
Epoch 13/50
200/200 [==============================] - 1s 5ms/step - loss: 0.2933 - accuracy: 0.8587 - val_loss: 0.6731 - val_accuracy: 0.7586
Epoch 14/50
200/200 [==============================] - 1s 5ms/step - loss: 0.2813 - accuracy: 0.8725 - val_loss: 0.6825 - val_accuracy: 0.7845
Epoch 15/50
200/200 [==============================] - 1s 6ms/step - loss: 0.2742 - accuracy: 0.8775 - val_loss: 0.6248 - val_accuracy: 0.7759
Epoch 16/50
200/200 [==============================] - 1s 6ms/step - loss: 0.2787 - accuracy: 0.8687 - val_loss: 0.6557 - val_accuracy: 0.7586
Epoch 17/50
200/200 [==============================] - 1s 7ms/step - loss: 0.2838 - accuracy: 0.8662 - val_loss: 0.6356 - val_accuracy: 0.7672
Epoch 18/50
200/200 [==============================] - 1s 6ms/step - loss: 0.2681 - accuracy: 0.8800 - val_loss: 0.6243 - val_accuracy: 0.7414
Epoch 19/50
200/200 [==============================] - 1s 5ms/step - loss: 0.2783 - accuracy: 0.8813 - val_loss: 0.6181 - val_accuracy: 0.7759
Epoch 20/50
200/200 [==============================] - 1s 3ms/step - loss: 0.2583 - accuracy: 0.8800 - val_loss: 0.6694 - val_accuracy: 0.7586
Epoch 21/50
200/200 [==============================] - 1s 3ms/step - loss: 0.2788 - accuracy: 0.8525 - val_loss: 0.6454 - val_accuracy: 0.7845
Epoch 22/50
200/200 [==============================] - 1s 3ms/step - loss: 0.2597 - accuracy: 0.8825 - val_loss: 0.6968 - val_accuracy: 0.7845
Epoch 23/50
200/200 [==============================] - 1s 3ms/step - loss: 0.2742 - accuracy: 0.8687 - val_loss: 0.6449 - val_accuracy: 0.7759
Epoch 24/50
200/200 [==============================] - 1s 3ms/step - loss: 0.2626 - accuracy: 0.8800 - val_loss: 0.7113 - val_accuracy: 0.7586
Epoch 25/50
200/200 [==============================] - 1s 3ms/step - loss: 0.2536 - accuracy: 0.8750 - val_loss: 0.6540 - val_accuracy: 0.7672
Epoch 26/50
200/200 [==============================] - 1s 3ms/step - loss: 0.2739 - accuracy: 0.8675 - val_loss: 0.7031 - val_accuracy: 0.7500
Epoch 27/50
200/200 [==============================] - 1s 3ms/step - loss: 0.2696 - accuracy: 0.8813 - val_loss: 0.6316 - val_accuracy: 0.7672
Epoch 28/50
200/200 [==============================] - 1s 3ms/step - loss: 0.2424 - accuracy: 0.8900 - val_loss: 0.7163 - val_accuracy: 0.7500
Epoch 29/50
200/200 [==============================] - 1s 3ms/step - loss: 0.2651 - accuracy: 0.8863 - val_loss: 0.6830 - val_accuracy: 0.7414
Epoch 30/50
200/200 [==============================] - 1s 3ms/step - loss: 0.2753 - accuracy: 0.8600 - val_loss: 0.7806 - val_accuracy: 0.7759
Epoch 31/50
200/200 [==============================] - 1s 3ms/step - loss: 0.2627 - accuracy: 0.8888 - val_loss: 0.6893 - val_accuracy: 0.7500
Epoch 32/50
200/200 [==============================] - 1s 3ms/step - loss: 0.2377 - accuracy: 0.8888 - val_loss: 0.7543 - val_accuracy: 0.7672
Epoch 33/50
200/200 [==============================] - 1s 3ms/step - loss: 0.2556 - accuracy: 0.8850 - val_loss: 0.7786 - val_accuracy: 0.7759
Epoch 34/50
200/200 [==============================] - 1s 3ms/step - loss: 0.2507 - accuracy: 0.8813 - val_loss: 0.7507 - val_accuracy: 0.7759
Epoch 35/50
200/200 [==============================] - 1s 3ms/step - loss: 0.2438 - accuracy: 0.8888 - val_loss: 0.7327 - val_accuracy: 0.7500
Epoch 36/50
200/200 [==============================] - 1s 3ms/step - loss: 0.2451 - accuracy: 0.8938 - val_loss: 0.6893 - val_accuracy: 0.7586
Epoch 37/50
200/200 [==============================] - 1s 3ms/step - loss: 0.2762 - accuracy: 0.8712 - val_loss: 0.7587 - val_accuracy: 0.7500
Epoch 38/50
200/200 [==============================] - 1s 3ms/step - loss: 0.2333 - accuracy: 0.8975 - val_loss: 0.7103 - val_accuracy: 0.7672
Epoch 39/50
200/200 [==============================] - 1s 3ms/step - loss: 0.2403 - accuracy: 0.8913 - val_loss: 0.7321 - val_accuracy: 0.7759
Epoch 40/50
200/200 [==============================] - 1s 3ms/step - loss: 0.2305 - accuracy: 0.8963 - val_loss: 0.8467 - val_accuracy: 0.7414
Epoch 41/50
147/200 [=====================>........] - ETA: 0s - loss: 0.2446 - accuracy: 0.9014

WARNING:tensorflow:Your input ran out of data; interrupting training. Make sure that your dataset or generator can generate at least `steps_per_epoch * epochs` batches (in this case, 10000 batches). You may need to use the repeat() function when building your dataset.

200/200 [==============================] - 0s 2ms/step - loss: 0.2455 - accuracy: 0.9017 - val_loss: 0.7286 - val_accuracy: 0.7931

In [ ]:
model.evaluate(xtest,ytest)

4/4 [==============================] - 0s 4ms/step - loss: 21.2114 - accuracy: 0.6810

[21.21137809753418, 0.681034505367279]

The ANN trained on the standardised and upsampled data performed the best result with 68% test accuracy.

In [ ]:
model.save("DiaCare.h5")

In [ ]:
from tensorflow import keras
model1 = keras.models.load_model("DiaCare.h5")

In [ ]:
model1.predict()